[tmc2209 stepper_y]
uart_pin: PC4
interpolate: false
run_current: 0.75
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_x]
uart_pin: PD11
interpolate: false
run_current: 0.75
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.7 
sense_resistor: 0.110
stealthchop_threshold: 99999
driver_TBL: 2
driver_TOFF: 3 
driver_HSTRT: 4 
driver_HEND: 1
driver_PWM_GRAD: 8
driver_PWM_REG: 5

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.7 
sense_resistor: 0.110
stealthchop_threshold: 99999
driver_TBL: 2
driver_TOFF: 3 
driver_HSTRT: 4 
driver_HEND: 1
driver_PWM_GRAD: 8
driver_PWM_REG: 5

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.7 
sense_resistor: 0.110
stealthchop_threshold: 99999
driver_TBL: 2
driver_TOFF: 3 
driver_HSTRT: 4 
driver_HEND: 1
driver_PWM_GRAD: 8
driver_PWM_REG: 5

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.7 
sense_resistor: 0.110
stealthchop_threshold: 99999
driver_TBL: 2
driver_TOFF: 3 
driver_HSTRT: 4 
driver_HEND: 1
driver_PWM_GRAD: 8
driver_PWM_REG: 5

#####Neue Werte####
#driver_TBL: 1
#driver_TOFF: 4
#driver_HSTRT: 2
#driver_HEND: 3

#####Alte Werte####
#driver_TBL: 1
#driver_TOFF: 3
#driver_HEND: 1
#driver_HSTRT: 4
#driver_PWM_AUTOGRAD: True
#driver_PWM_AUTOSCALE: True
#driver_PWM_LIM: 11
#driver_PWM_REG: 6
#driver_PWM_FREQ: 2
#driver_PWM_GRAD: 10
#driver_PWM_OFS: 36
