[probe]
pin: ^PG15
x_offset:  0
y_offset:  19.75
z_offset:  6.470
speed: 8
lift_speed: 15
samples: 3
sample_retract_dist: 0.5
samples_result: median
sample_retract_dist: 3
samples_tolerance: 0.0075
samples_tolerance_retries: 3

[quad_gantry_level]
gantry_corners:
   -60,-10
	360,370
##	Probe points
points:
	50,25
	50,225
	250,225
	250,25
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10